@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive {
 
  /* default 21 */
  /*sm  10rem 0.5fr 1.2fr */
  /* md 13rem 1fr 1.2fr */
  /* lg   17rem 1fr 1.2fr*/

  .grid-cols-form{
     grid-template-columns: 21rem;
  }
  .grid-cols-form-sm{
     grid-template-columns: 10rem 0.5fr 1.2fr;
  }
  .grid-cols-form-md{
     grid-template-columns: 13rem 1fr 1.2fr;
  }
  .grid-cols-form-lg{
     grid-template-columns: 17rem 1fr 1.2fr;
  }
}
